<div class="parallax-container">
    <div class="parallax"><img src="images/image-gallery/13.jpg"></div>
</div>
<div class="section white partners-parallax">
    <div class="container">
        <h2 class="header center parallax-title">Our Partners</h2>
        <div class="row">
            <div class="regular slick-slider">
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="http://sliepa.org/" target="_blank"><img src="images/partners/SLIEPA_logo.png" alt=""></a>
                </div>
                <div class="col s3 m3" id="slecad">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="http://slecad.net/" target="_blank"><img class="center" src="images/partners/slecad.png"
                            alt=""></a>
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="https://scadep.org/" target="_blank"><img src="images/partners/scadep.png" alt=""></a>
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="https://producemonitoringboard.sl/" target="_blank"><img src="images/partners/pmb.png"
                            alt=""></a>
                </div>

                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="http://www.maf.gov.sl/" target="_blank"><img src="images/partners/gov-sl.png" alt="">
                        <p class=" container gray-text">Maff SL</p>
                    </a>
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <a href="https://www.statistics.sl/" target="_blank"><img src="images/partners/Stat-sl.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/image-gallery/12.jpg"></div>
</div>